{% extends 'headerfooter.html' %}

{% block title%}  Premium Tour  {% endblock %}

{% block style%} 
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body {
    background-color: #fff;
}   {% endblock %}

{% block body%}    <div class="" style="margin-left: 22%; margin-top: 2%; width: 60%;">
    <div class="row">
        <div class="col-sm"><img
                src="https://img1.wsimg.com/isteam/ip/c1512f10-816e-434b-8fbc-f91747269931/image_processing20181012-4-jbs6xr.jpg/:/rs=w:1024,cg:true,m"
                alt="" style="width: 100%;">
        </div>
        <div class="col-sm mt-3">
            <h3 style="font-family: 'Abril Fatface', cursive; color: rgb(140, 114, 66);">ABC Trekking Premium 20
                Days</h3>
            <p style="font-size: 18px;">1499$.00</p>
            <br>
            <button class="button button2"> Book Now</button><br>

            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png"
                alt="Buy now with PayPal" style="width: 27%;"><br><br>
            <div style="color: rgb(94, 94, 94); font-size: 14px; text-align: left; line-height: 2;">
                <p>A unique hiking of the majestic Annapurna region. With time to enjoy nature and a whole new world
                    beneath the almighty mountains. </p>

            </div>
        </div>
    </div>
</div>
<center>
    <hr width="60%">
</center>
<div class="container" style="margin-left: 22%; margin-top: 2%; width: 60%;">
    <div class="row">
        <div class="col-sm"><img
                src="https://img1.wsimg.com/isteam/ip/c1512f10-816e-434b-8fbc-f91747269931/nepal-village.jpg/:/rs=w:1200,cg:true,m"
                alt="" style="width: 100%;">
        </div>
        <div class="col-sm mt-3">
            <h3 style="font-family: 'Abril Fatface', cursive; color: rgb(140, 114, 66);">Everest Base Camp Trekk
                15Days</h3>
            <p style="font-size: 18px;">2499$.00</p>
            <br>
            <a
                href="https://www.paypal.com/webapps/hermes?token=46F26734GW845914J&useraction=commit&rm=0&mfid=1671476263581_f709748e115c8"><button
                    class="button button2"> Buy Now</button></a><br>

            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png"
                alt="Buy now with PayPal" style="width: 27%;"><br><br>
            <div style="color: rgb(94, 94, 94); font-size: 14px; text-align: left; line-height: 2;">
                <p>Magical and picturesque travel destination <a
                        href="https://www.basecamptreknepal.com/mount-everest-treks" target="_blank"
                        style="color: rgb(140, 114, 66);">Mount Everest region of Himalayas</a> , encourage each
                    travelers to say something about its wonders. </p>

            </div>
        </div>
    </div>
</div>
<center>
    <hr width="60%">
</center>
<div class="container" style="margin-left: 22%; margin-top: 2%; width: 60%;">
    <div class="row">
        <div class="col-sm"><img
                src="https://img1.wsimg.com/isteam/stock/107465/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1200,cg:true"
                alt="" style="width: 100%;">
        </div>
        <div class="col-sm mt-3">
            <h3 style="font-family: 'Abril Fatface', cursive; color: rgb(140, 114, 66);">Manaslu Tsum Valley Trek
            </h3>
            <p style="font-size: 18px;">1499$.00</p>
            <br>
            <a
                href="https://www.paypal.com/webapps/hermes?token=46F26734GW845914J&useraction=commit&rm=0&mfid=1671476263581_f709748e115c8"><button
                    class="button button2"> Buy Now</button></a><br>

            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png"
                alt="Buy now with PayPal" style="width: 27%;"><br><br>
            <div style="color: rgb(94, 94, 94); font-size: 14px; text-align: left; line-height: 2;">
                <p> Manaslu is the 8th highest peak in The World, lies at an elevation of 8,163m above sea level.
                    Manaslu offers various trekking options like Manaslu Circuit Trek and Manaslu Tsum Valley Trek.
                    <strong>Manaslu Tsum Valley Trek</strong> is a combination of <a
                        href="https://www.luxuryholidaynepal.com/manaslu-circuit-trek.html" target="_blank"
                        style="color: rgb(140, 114, 66);">Manaslu circuit trek</a> and Manaslu Tsum Valley trek.
                </p>

            </div>
        </div>
    </div>
</div>
<center>
    <hr width="60%">
</center>
<div class="container" style="margin-left: 22%; margin-top: 2%; width: 60%;">
    <div class="row">
        <div class="col-sm"><img
                src="https://img1.wsimg.com/isteam/ip/c1512f10-816e-434b-8fbc-f91747269931/nlugxbzke0w71.webp/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:640,cg:true"
                alt="" style="width: 100%;">
        </div>
        <div class="col-sm mt-3">
            <h3 style="font-family: 'Abril Fatface', cursive; color: rgb(140, 114, 66);">Upper Mustang Trekking 17
                Days</h3>
            <p style="font-size: 18px;">2699$.00</p>
            <br>
            <a
                href="https://www.paypal.com/webapps/hermes?token=46F26734GW845914J&useraction=commit&rm=0&mfid=1671476263581_f709748e115c8"><button
                    class="button button2"> Buy Now</button></a><br>

            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png"
                alt="Buy now with PayPal" style="width: 27%;"><br><br>
            <div style="color: rgb(94, 94, 94); font-size: 14px; text-align: left; line-height: 2;">
                <p>Upper Mustang is known as the Last Forbidden Kingdom in the trans-Himalayan region of Nepal
                    keeping the Tibetan Buddhist culture intact. Upper Mustang was restricted by the Government of
                    Nepal for foreign trekkers until 1992 due to some strategical problems.</p>

            </div>
        </div>
    </div>
</div>
<center>
    <hr width="60%">
</center>
<br>
<center>
    <div class="container ">
        <div class="container"
            style="height: 90%; width: 80%; background-image: url(https://img1.wsimg.com/isteam/stock/6yRlOyz/:/rs=w:2558,m); background-repeat: no-repeat; background-size:cover;">
            <h2 style="color: #fff;">Contact Us</h2><br>

            <div class="card" style="border:none; width: 70%; height: 60%;">
                <p>
                <h3 style="font-family: 'Abril Fatface', cursive; color: rgb(163, 133, 77);">Start up a Conversation
                </h3>
                <br>
                <div class="container">
                    <p style="color: rgb(94, 94, 94);;">
                        I love to hear from fellow travelers! Have a question about some of my recent trips? Want to
                        share some travel tips, or have a question? Drop me a line!</p>
                </div>
                <h3 style="font-family: 'Abril Fatface', cursive; color: rgb(163, 133, 77);">Hillychilly</h3>
                <center><button class="button button2 d-flex" style="width: auto; border-radius: 10px;"> Get in
                        touch!</button></center><br>

            </div><br><br><br>
        </div>


    </div>
</center>



</div>
<br>
<center>
    <h2 class="textmidline" style="max-width: 1010px; min-width: 300px; font-size: 16px; color:rgb(89, 89, 89);">
        <span class="textmidline2" style="background-color: #fff;">Social</span>
</center>
</h2>
<center><a href="https://www.instagram.com/hillychillytrekking/" target="_blank" class="fa fa-instagram"></a>
</center>
<br><br><br>

{% endblock %}








    <!-- Start of body elements -->
    <!-- start of one block of trek plan -->
   

</body>



</html>