{% extends 'headerfooter.html' %}
{% block title%} Premium Tour {% endblock %}
{% block style%}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body {
background-color: #fff;
}
.button1 {
background-color: rgb(163, 133, 77);
transition-duration: 0.5s;
box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.235), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button1:hover {
box-shadow: none;
}
.textmidline {
width: 100%;
text-align: center;
border-bottom: 1px solid #000;
line-height: 0.1em;
margin: 10px 0 20px;
}
.textmidline2 {
background: #fff;
padding: 0 10px;
}
{% endblock %}
{% block body%}
<div class="container mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5 me-5"><img
                    src="https://img1.wsimg.com/isteam/ip/c1512f10-816e-434b-8fbc-f91747269931/image_processing20181012-4-jbs6xr.jpg/:/rs=w:1024,cg:true,m"
                    alt="" style="width: 100%;">
            </div>
            <div class="col-md-6">
                <p class="font2 h1">ABC Trekking Premium 20 Days
                </p>
                <p class="font mb-5 text-dark fs-1">$ 1499.00</p>
                <button class="button1 btn-lg rounded-0 p-4 px-5 mb-2 fw-bold border-0 text-white mt-5">
                    Book Now</button></a><br>
                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png"
                    alt="Buy now with PayPal" style="width: 27%; margin-top:10px;">
                <div class="font text-secondary fs-2">
                    <br>
                    <p>A unique hiking of the majestic Annapurna region. With time to enjoy nature and a whole new world
                        beneath the almighty mountains.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-5 me-5"><img
                    src="https://img1.wsimg.com/isteam/ip/c1512f10-816e-434b-8fbc-f91747269931/nepal-village.jpg/:/rs=w:1200,cg:true,m"
                    alt="" style="width: 100%;">
            </div>
            <div class="col-md-6">
                <p class="font2 h1">Everest Base Camp Trekk 15Days
                </p>
                <p class="font mb-5 text-dark fs-1">$ 2499.00</p>
                <button class="button1 btn-lg rounded-0 p-4 px-5 mb-2 fw-bold border-0 text-white mt-5">
                    Book Now</button></a><br>
                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png"
                    alt="Buy now with PayPal" style="width: 27%; margin-top:10px;">
                <div class="font text-secondary fs-2">
                    <br>
                    <p>
                        Magical and picturesque travel destination Mount Everest region of Himalayas , encourage each
                        travelers to say something about its wonders.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-5 me-5"><img
                    src="https://img1.wsimg.com/isteam/stock/107465/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1200,cg:true"
                    alt="" style="width: 100%;">
            </div>
            <div class="col-md-6">
                <p class="font2 h1">
                    Manaslu Tsum Valley Trek
                </p>
                <p class="font mb-5 text-dark fs-1">$ 1499.00</p>
                <button class="button1 btn-lg rounded-0 p-4 px-5 mb-2 fw-bold border-0 text-white mt-5">
                    Book Now</button></a><br>
                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png"
                    alt="Buy now with PayPal" style="width: 27%; margin-top:10px;">
                <div class="font text-secondary fs-2">
                    <br>
                    <p>
                        Manaslu is the 8th highest peak in The World, lies at an elevation of 8,163m above sea level.
                        Manaslu offers various trekking options like Manaslu Circuit Trek and Manaslu Tsum Valley Trek.
                        Manaslu Tsum Valley Trek is a combination of Manaslu circuit trek and Manaslu Tsum Valley trek.
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-5 me-5"><img
                    src="https://img1.wsimg.com/isteam/ip/c1512f10-816e-434b-8fbc-f91747269931/nlugxbzke0w71.webp/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:640,cg:true"
                    alt="" style="width: 100%;">
            </div>
            <div class="col-md-6">
                <p class="font2 h1">Upper Mustang Trekking 17 Days
                </p>
                <p class="font mb-5 text-dark fs-1">$ 2699.00</p>
                <button class="button1 btn-lg rounded-0 p-4 px-5 mb-2 fw-bold border-0 text-white mt-5">
                    Book Now</button></a><br>
                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png"
                    alt="Buy now with PayPal" style="width: 27%; margin-top:10px;">
                <div class="font text-secondary fs-2">
                    <br>
                    <p>
                        Upper Mustang is known as the Last Forbidden Kingdom in the trans-Himalayan region of Nepal
                        keeping the
                        Tibetan Buddhist culture intact. Upper Mustang was restricted by the Government of Nepal for
                        foreign
                        trekkers until 1992 due to some strategical problems.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<center>
    <div class="container w-lgadsfs-50"
        style=" background-image: url(https://img1.wsimg.com/isteam/stock/6yRlOyz/:/rs=w:2558,m);background-size:100% 100%; ">
        <h2 class="font2 text-light mt-5 pt-5 mb-5 h1">Contact Us</h2><br>
        <div class="mb-5 d-none d-lg-block">
            <div class="card rounded-0 w-75 p-5 mb-5">
                <h3 class="h1 font2 mt-5">Start up a
                    Conversation
                </h3>
                <p class="font fs-2 text-secondary mt-3 mx-5">
                    I love to hear from fellow travelers! Have a question about some of my recent trips?
                    Want to
                    share some travel tips, or have a question? Drop me a line!</p>
                <p class="font2 h1 mb-5">Hillychilly</p>
                <center>
                    <button class="button1 rounded-0 p-4 fw-bold border-0 text-white d-flex mt-5 btn-lg mb-5"> Get in
                        touch!</button>
                </center>
            </div>
        </div>
    </div>
</center>
<center>
    <div class="mb-5 mt-5  d-block d-lg-none">
        <div class="card border-0 rounded-0 w-75 p-5 mb-5">
            <h3 class="h1 font2 mt-5">Start up a
                Conversation
            </h3>
            <p class="font fs-2 text-secondary mt-3 mx-5">
                I love to hear from fellow travelers! Have a question about some of my recent trips?
                Want to
                share some travel tips, or have a question? Drop me a line!</p>
            <p class="font2 h1 mb-5">Hillychilly</p>
            <center>
                <button class="button1 rounded-0 p-4 fw-bold border-0 text-white d-flex mt-5 btn-lg mb-5"> Get in
                    touch!</button>
            </center>
        </div>
    </div>
</center>
<br>
<center>
    <h2 class="textmidline" style="max-width: 1010px; min-width: 300px; font-size: 16px; color:rgb(89, 89, 89);">
        <span class="textmidline2" style="background-color: #fff;">Social</span>
</center>
</h2>
<center><a href="https://www.instagram.com/hillychillytrekking/" target="_blank" class="fa fa-instagram"></a>
</center>
</div>
<br><br><br>
{% endblock %}
<!-- Start of body elements -->
<!-- start of one block of trek plan -->
</body>

</html>